<div class="row">
                    <div class="col fillerimg">
                        <a href="#">
                            <img src="filler1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col fillerimg">
                        <a href="#">
                            <img src="filler2.jpg" alt="">
                        </a>
                    </div>

                    <div class="col fillerimg">
                        <a href="#">
                            <img src="filler3.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col fillerimg">
                        <a href="#">
                            <img src="filler4.png" alt="">
                        </a>
                    </div>
                    <div class="col fillerimg">
                        <a href="#">
                            <img src="filler5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col fillerimg">
                        <a href="#">
                            <img src="filler6.jpg" alt="">
                        </a>
                    </div>
                </div>