 <!--  -->
        <div class="bs-example">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade" style="text-align: center;" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="justify-content: center;">
                            <h5 class="modal-title text-center" id="modalTitle">تم ارسال طلبك بنجاح</h5>
                        </div>
                         <div class="modal-body" id="modalBody">
                            <h5> تأكد من تعبئة الحقول بشكل صحيح كما في المثال:</h5>
                            <div class="fields">
                                <div class="field-item">
                                    <p>الاسم الاول</p>:
                                    <p>سمير</p>
                                </div>
                                <div class="field-item">
                                    <p>اسم العائلة</p>:
                                    <p>الفلان</p>
                                </div>
                                <div class="field-item">
                                    <p>البريد الإلكتروني</p>:
                                    <p>sameerflan@gmail.com</p>
                                </div>
                                <div class="field-item">
                                    <p>رقم الهاتف</p>:
                                    <p>07794160609</p>
                                </div>
                                <div class="field-item">
                                    <p>العنوان</p>:
                                    <p>اربد الحي الشرقي</p>
                                </div>
                                <div class="field-item">
                                    <p>المحافظة</p>:
                                    <p>اربد </p>
                                </div>
                                <div class="field-item">
                                    <p>الحي</p>:
                                    <p>الحي الشرقي </p>
                                </div>
                                <div class="field-item">
                                    <p>الرمز البريدي</p>:
                                    <p> 21141 </p>
                                </div>
                                <div class="field-item">
                                    <p>الموضوع</p>:
                                    <p>المديريات </p>
                                </div>
                                <div class="field-item">
                                    <p>الرسالة</p>:
                                    <p>...... </p>
                                </div>
                            </div>
                        </div>    
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">!حسنا</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->