 <!--  -->
        <div class="bs-example">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade" style="text-align: center;" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="justify-content: center;">
                            <h5 class="modal-title text-center" id="modalTitle">تم ارسال طلبك بنجاح</h5>
                        </div>
                         <div class="modal-body" id="modalBody">
                            <h5> تأكد من تعبئة الحقول بشكل صحيح كما في المثال:</h5>
                            <div class="fields">                                
                                <div class="field-item">
                                    <p>الاسم الاول</p>:
                                    <p>سمير</p>
                                </div>
                                <div class="field-item">
                                    <p>الاسم الثاني</p>:
                                    <p>خالد</p>
                                </div>
                                <div class="field-item">
                                    <p>اسم العائلة</p>:
                                    <p>الفلان</p>
                                </div>                                
                                <div class="field-item">
                                    <p>الجنسية</p>:
                                    <p>اردني</p>
                                </div>
                                <div class="field-item">
                                    <p>الرقم الوطني</p>:
                                    <p>9981042069</p>
                                </div>
                                <div class="field-item">
                                    <p>تاريخ الميلاد</p>:
                                    <p>4/20/1998</p>
                                </div>
                                <div class="field-item">
                                    <p> المنحة  </p>:
                                    <p> المنحة 1 </p>
                                </div>
                                <div class="field-item">
                                    <p>المؤهل العلمي </p>:
                                    <p>بكالوريوس </p>
                                </div>
                                <div class="field-item">
                                    <p>التخصص</p>:
                                    <p>الإعلام </p>
                                </div>
                                <div class="field-item">
                                    <p>البريد الإلكتروني</p>:
                                    <p>sameerflan@gmail.com</p>
                                </div>
                                <div class="field-item">
                                    <p>رقم الهاتف</p>:
                                    <p>07794160609</p>
                                </div>
                            </div>
                        </div>    
                        <div class="modal-footer" style="justify-content: center;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">!حسنا</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->