<section style="padding: 25px 0px;" class="section fluid-container">
            <h3>
                تطوير الأداء المؤسسي
            </h3>
            <div class="eco container">
                <div class=" row">
                    <div class="banner col">
                        <h1 style="font-size: 1.1em;">
                            نظام إدارة الجودة</h1>
                        <i class="far fa-chart-bar"></i> <a href="#">اقرأ المزيد</a>
                    </div>
                    <div class="banner col">
                        <h1 style="font-size: 1.1em;">
                            مشاريع ومبادرات استخدامات التكنولوجيا المساندة
                        </h1>
                        <i class="fas fa-chalkboard-teacher"></i> <a href="#">اقرأ المزيد</a>
                    </div>
                    <div class="banner col">

                        <h1 style="font-size: 1.1em;">
                            تطوير ورفع كفاءة الموارد البشرية للأعوام 2017,2016
                        </h1>
                        <i class="fas fa-chart-pie x5"></i>
                        <a href="#">اقرأ المزيد</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of development secions -->
        <!-- start messsage and vision section -->
        <section class="section" style="padding: 25px 0px; background-color: #eeeeee;">
            <h3>رؤيتنا و رسالتنا</h3>
            <div class="planning container">
                <div class="row">
                    <div class="big-banner  col">
                        <h1>رؤيتنا</h1>
                        <img src="vision.jpg" alt="">
                        <h2>"نحو تنمية شاملة مستدامة"
                        </h2>
                    </div>
                    <div class="big-banner  col">

                        <h1> رسالتنا</h1>
                        <p>المساهمة في تنمية المجتمع الأردني وتطويره في ضوء حاجاته القائمة والمتوقعة لتحسين مستوى معيشة المواطن، من خلال التخطيط التشاركي على المستويين الوطني والمحلي، وتنسيق وتوفير المساعدات في إطار متكامل بالتعاون مع الشركاء".
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end messsage and vision section -->
        <!-- Units and departements section -->
        <section class="section">
            <h3>جهات تابعة للوزارة أو تحت إشرافها</h3>
            <!-- slider for units -->
            <div class="container">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators indi">
                        <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
                        <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
                        <li data-target="#carouselExampleSlidesOnly" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5> وحدة سكرتاريا دعم تنفيذ الإصلاحات الإقتصادية</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5> وحدةالإعلام والاتصال </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>مديرية التعاون الدولي</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5> وحدة تنسيق المساعدات الإنسانية</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>مديرية السياسات و الدراسات</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5> وحدة ادارة الاستثمارات الحكومية</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>مديرية الشؤون المالية والإدارية</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5> وحدة الرقابة الداخلية</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>مديرية خطط و برامج التنمية</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>
                                                وحدة التطوير المؤسسي و التقييم
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>
                                                مديرية المشاريع
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>
                                                مديرية الموارد البشرية
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>
                                                مديرية تكنولوجيا المعلومات والأرشفة
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="unita">
                                        <div class="unit">
                                            <img src="crown.png" alt="">
                                            <h5>
                                                مديرية التنمية المحلية و تعزيز الإنتاجية </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of slider for units -->
            </div>
        </section>
        