<section class="slide-show">
            <!--Start of slideshow-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item ">
                        <img class="d-block " src="slideshow4.jpg" alt="First slide">
                        <div class="carousel-caption">
                            <div class="col-md-8 col-sm-8 col-xs-8 info">
                                <h1>
                                    منحة صينية طبية للأردن لمكافحة جائحة كورونا
                                </h1>
                                <h6 class="font-reg mb-0 BriefNormal">
                                    <p dir="rtl">مان- 31/5/2020 - وقعت الحكومتان الاردنية والصينية على شهادة التسليم والاستلام الخاصة بتقديم الحكومة الصينية شحنة من المستلزمات الطبية الوقائية لمكافحة فيروس كورونا، وبما قيمته (5,280) مليون يوان صيني، وبما يعادل حوالي
                                        (750 الف دولار امريكي).</p>
                                    <p dir="rtl"><a href="#" style="padding :8px;" target="_self" tabindex="-1">اقرا المزيد</a></p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <img src="amman.jpg" alt="...">
                        <div class="carousel-caption">
                            <div class="col-md-8 col-sm-4 col-xs-8 info">
                                <h1>
                                    رسالتنا
                                </h1>
                                <h6 class="font-reg mb-0 BriefNormal">
                                    <p dir="rtl">"المساهمة في تنمية المجتمع الأردني وتطويره في ضوء حاجاته القائمة والمتوقعة لتحسين مستوى معيشة المواطن، من خلال التخطيط التشاركي على المستويين الوطني والمحلي، وتنسيق وتوفير المساعدات في إطار متكامل بالتعاون مع الشركاء".</p>
                                    <p dir="rtl"><a href="#" style="padding :8px;" target="_self" tabindex="-1">اقرا المزيد</a></p>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="king.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--End of slide show-->
        </section>
        