<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="/">                            
                            {{parent}}
                        </a>
                    </h4>
                    <h4>
                        <a href="#">
                            {{page}}
                        </a>
                    </h4>
                    <h4>
                        <a href="#" class="currentpage na">
                            {{title}}                            
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row bia">
                    <div class="article">
                        <p>
                            أنشئت وزارة التخطيط في عام 1984 خلفاً للمجلس القومي للتخطيط، وتعمل بموجب قانون التخطيط رقم (68) لسنة 1971، وقد تم إعادة تسمية الوزارة لتصبح وزارة التخطيط والتعاون الدولي بتاريخ 25/10/2003 لتعمل بمضامين نفس القانون والمهام والواجبات.</p>
                        <p>وتسعى وزارة التخطيط والتعاون الدولي نحو تعزيز ثقافة التميز، والحاكمية الرشيدة، واستدامة التطوير والتحسين وفق الممارسات الفضلى، وتفعيل دورها وغايتها المنشودة في التنمية، والتخطيط، والتعاون الدولي بما فيه مصلحة الوطن والمواطن، كما
                            وتحرص الوزارة على استمرارية نهج التخطيط الاستراتيجي لمواكبة المستجدات ومواجهة التحديات بشكل ينسجم مع الأولويات الوطنية ويحقق الأهداف الوطنية لينعكس على الأداء المتميز، ونوعية الخدمة المقدمة وقد تترجم ذلك بحصول الوزارة على المركز
                            الأول لجائزة الملك عبدالله الثاني لتميز الأداء الحكومي والشفافية لأكثر من مرة، الأمر الذي عكس تميزها وريادتها في تبني الإجراءات والأنظمة التي ترسخ منظومة العمل الجماعي التشاركي. </p>
                        <p>
                            ومن هنا، فقد قامت الوزارة بإعداد الخطة الاستراتيجية للوزارة للأعوام 2020-2022، وفقاً لإجراء العمل ‏المعياري "إعداد ونشر ومراجعة ومتابعة الخطة الاستراتيجية"، باعتماد النهج التشاركي وبمساهمة ‏واسعة النطاق من قبل كافة المديريات والوحدات الإدارية في الوزارة،
                            حيث تم البدء بمراجعة الخطة ‏الاستراتيجية السابقة 2017-2019، والخطة التحسينية للتقرير التقييمي لجائزة الملك عبدالله الثاني لتميز الأداء ‏الحكومي والشفافية والخطة التحسينية للتقرير التقييمي لممارسات الحوكمة في الوزارة وتقرير
                            الأداء السنوي ‏لعام 2018، والوثائق ذات العلاقة من خلال فريق فني مشكل من الوزارة، ومراجعة صياغة الرؤية والرسالة ‏والقيم الجوهرية للوزارة، ومن ثم صياغة الأهداف الاستراتيجية بمؤشرات أداء قابلة للقياس تسعى الوزارة من ‏خلالها إلى
                            المساهمة في تحقيق الأهداف الوطنية، وقد استندت الأهداف الاستراتيجية إلى خيارات استراتيجية ‏منبثقة عن تحليل متكامل للبيئة الداخلية والخارجية بتحديد عناصر القوة والضعف المتعلقة بثمانية محددات تحكم ‏البيئة الداخلية وكذلك تحديد
                            الفرص والتحديات التي تواجه الوزارة وتتعلق بمحددات ثمانية، وتم إضافة البعد ‏القانوني للتحليل الخارجي أيضاً. وتجدر الإشارة إلى الدور الداعم الذي قدمته الإدارة العليا الممثلة باللجنة ‏التوجيهية عبر مراحل العمل كافة، تمهيداً لإقرارها
                            ونشرها وتعميمها رسمياً، آخذين بعين الاعتبار مشاركة هذه ‏الخطة مع شركاء الوزارة وذوي العلاقة (‏Stakeholders‏)، وفي إطار المتابعة والتقييم سيتم مراجعة وتقييم ‏الخطة الاستراتيجية بشكل سنوي للوقوف على الإنجاز المتحقق. ‏
                        </p>
                        <p>وقد تحققت العديد من الإنجازات في مجالات التنمية والتخطيط على المستويين الوطني والمحلي كان من أهمها:</p>
                        <ul>
                            <li>
                                <p>
                                    إعداد ثلاث خطط تنموية، أولها خطة التنمية الثلاثية 1973-1975، تلتها خطتان خماسيتان هما "خطة التنمية الخمسية 1976-1980" و"خطة التنمية الاقتصادية والاجتماعية 1981- 1985".
                                </p>
                            </li>
                            <li>
                                <p>
                                    إعداد مجموعة من الخطط التنموية والبرامج التنفيذية مثل الخطة الاقتصادية والاجتماعية 1993-1997 وذلك بعد إنشاء وزارة التخطيط في العام 1984 ولغاية 2009.
                                </p>
                            </li>
                            <li>
                                <p>
                                    وفي عام 2001 جاء برنامج التحول الاقتصادي والاجتماعي لإنجاز حزمة من القوانين التي من شأنها الإسراع في عملية الإصلاح والتحديث وإعداد القطاع الخاص ليكون شريكاً حقيقياً في عملية التنمية.
                                </p>
                            </li>
                            <li>
                                <p>
                                    كما جاءت خطـة التنمية الاقتصادية والاجتماعيـة للسنوات الثلاث 2004-2006 بهدف اعتماد سياسات وإجراءات اقتصادية من شأنها المساهمة في تحقيق نقلة نوعية في أداء الاقتصاد الوطني، وإحداث تغيير ملموس في نوعية ومستوى معيشة المواطن.
                                </p>
                            </li>
                            <li>
                                <p>
                                    إعداد البرنامج التنفيذي 2007-2009، والبرنامج التنفيذي التنموي 2011-2013 استنادا إلى مبادرة "كلنا الأردن" والأجندة الوطنية التي حددت الأولويات الوطنية للأردن للعشر سنوات القادمة 2006-2015.
                                </p>
                            </li>
                            <li>
                                <p>
                                    إعداد خطة عمل الحكومة 2013-2016، والبرامج التنموية للمحافظات 2013-2016 استناداً إلى الاستراتيجيات القطاعية بالإضافة إلى التوجهات والمبادرات الملكية لتعزيز دور المجتمع المحلي في صنع القرار.
                                </p>
                            </li>
                            <li>
                                <p>
                                    في عام 2015، قامت وزارة التخطيط والتعاون الدوي بعقد وإدارة اجتماعات اللجان الفنية القطاعية السبع عشرة والتي تم تشكيلها لقيادة عملية تطوير "وثيقة الأردن 2025". وبهدف وضع مخرجات الوثيقة موضع التنفيذ، فقد تم التوافق على إعداد برامج تنفيذية متوسطة الأمد،
                                    ليغطي أولها الأعوام 2016-2019، فتم إعداد البرنامج التنموي التنفيذي 2016-2019 وقد جاء البرنامج شاملاً ومتكاملاً ليغطي كافة جوانب قطاعات التنمية الاقتصادية والاجتماعية مع الأخذ بعين الاعتبار الترابط والتكامل فيما بينها،
                                    حيث قامت فرق العمل بتشخيص الواقع الحالي، وتحديد التحديات وبالتالي صياغة الأهداف القطاعية والأهداف الفرعية المحددة للأعوام 2016-2019، وربط تلك الأهداف بمبادرات "وثيقة الأردن 2025". كما تم إدماج مخرجات برنامج تنمية المحافظات
                                    وتوصيات فرق العناقيد الاقتصادية في البرنامج التنموي التنفيذي وحسب القطاعات الاقتصادية والاجتماعية.
                                </p>
                            </li>
                            <li>
                                <p>
                                    تم إعداد خارطة طريق لتنفيذ أجندة التنمية المستدامة 2030 والتي تتمثل في التوعية المجتمعية وتحديد الأولويات من أهداف وغايات ومؤشرات أجندة التنمية 2030 وربطها مع الأولويات الوطنية، وإدماجها في الخطط الوطنية وفي البرنامج التنموي التنفيذي 2016-2019.
                                </p>
                            </li>
                        </ul>
                        <div class="highlight">
                            <hr>
                            <h2>رؤيــــــتنا</h2>
                            <p> <q>"نحو تنمية شاملة مستدامة"
                            </q> </p>
                        </div>
                        <div class="highlight">
                            <hr>
                            <h2>رســـالتنــا</h2>
                            <p> <q>"المساهمة في تنمية المجتمع الأردني وتطويره في ضوء حاجاته القائمة والمتوقعة لتحسين مستوى معيشة المواطن، من خلال التخطيط التشاركي على المستويين الوطني والمحلي، وتنسيق وتوفير المساعدات في إطار متكامل بالتعاون مع الشركاء".                    </q>                                </p>
                        </div>
                        <div class="highlight">
                            <hr>
                            <h2>قيمـــــنا</h2>
                            <p> <q>روح الفريق ، التحسين المستمر ، الالتزام و الانتماء ، الشفافية ،المبادرة و الابداع والتعاون و التنسيق و التكامل مع الشركاء
                            </q> </p>
                        </div>

                    </div>
                </div>
                {{>fillerRow}}
            </div>
    </section>
