<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="#">
                            {{!-- الرئيسية --}}
                            {{parent}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#">
                            {{page}}
                            {{!-- عن الوزارة --}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#" class="currentpage">
                            {{title}}
                            {{!-- نبذة عن الوزارة --}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row bia" style="justify-content: center;"> ​
                    <a href="organizational-chart.jpg" target="_blank"><img src="organizational-chart.jpg" class="img-fluid big-img" alt="organizational-chart" style="margin: 25px 0px;"></a>
                </div>
                {{>fillerRow}}
            </div>
        </section>