<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="#">
                            {{!-- الرئيسية --}}
                            {{parent}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#">
                            {{page}}
                            {{!-- عن الوزارة --}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#" class="currentpage">
                            {{title}}
                            {{!-- نبذة عن الوزارة --}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row bia">
                    <div class="article">
                        <p>
                            تطبيقا لمخرجات مشروع إعادة الهيكلة الذي تم اعتماده في عام 2004، قامت الوزارة بتطبيق أسس ومنهجيات إدارية حسب أفضل الممارسات، تهدف إلى الارتقاء بالأداء وتحقيق التطوير المؤسسي الذي يشمل جميع موارد الوزارة، وعلى هذا الأساس صممت هذه الأسس والمنهجيات المختلفة
                            بما يضمن تحقيق أهداف الوزارة في تطوير بيئة تنظيمية ملائمة للإبداع والتعلم والابتكار.
                        </p>
                        <p>
                            تقوم وحدةالتطوير المؤسسي و التقييم بإصدار تقرير الأداء المؤسسي السنوي منذ العام 2013، ويشتمل التقرير على ثلاثة تقارير فرعية تعنى بتطوير الأداء وهي:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    تقرير الأداء الاستراتيجي، ويبين إنجاز الوزارة لأهدافها المؤسسية ونسبتها من الأهداف الوطنية.
                                </p>
                            </li>
                            <li>
                                <p>
                                    تقرير مسح رضا متلقي الخدمة، والذي يبين تحليل استبانات رضا متلقي الخدمة بفئاته الثلاث (المؤسسات الحكومية والوزارات، ومنظمات المجتمع المدني المحلية والدولية، والجهات المانحة)
                                </p>
                            </li>
                            <li>
                                <p>
                                    تقرير مسح رضا موظفي الوزارة.
                                </p>
                            </li>
                        </ul>
                        <p  id="qas">
                            ويبين التقرير نتائج التحليل والتوصيات المقترحة لرفع نسب الأداء، ويتبع إصداره خطة لتنفيذ التوصيات مع أنشطة محددة المسؤوليات تعمم على جميع المديريات. لعرض وتحميل التقارير السنوية للاداء المؤسسي <a href="annualreports.html">
    انقر هنا
</a>
                        </p>
                        <div class="highlight">
                            <hr>
                            <h2 style="font-size: 1.7em; font-weight: bold;">نظام إدارة الجودة Quality Management System
                            </h2>
                            <p>
                                قامت الوزارة خلال العامين 2014 و 2015 من خلال وحدة التقييم وقياس الأثر /توكيد الجودة بتصميم إطار عام لعملياتها بحيث تقسم إلى عمليات أساسية؛ تهدف إلى تحقيق الأهداف المؤسسية للوزارة ومنبثقة من محاور عمل الوزارة ومهامها، وعمليات رئيسية؛ وهي التي تضمن استقرار
                                بيئة عمل الوزارة وتعنى بتطوير أدائها وتهيئ الظروف للعمليات الأخرى لتحقيق أهدافها، وعمليات مساندة؛ وهي التي تدعم العمليات الأخرى في وظائفها اليومية مثل إدارة الموارد البشرية والاتصال وغيرها، واستندت الوزارة في هذا التصنيف
                                إلى دراسات في تصميم العمليات عبر البحث عن أفضل الممارسات وتطبيقها بما يتناسب وطبيعة عملها.
                            </p>
                            <p>
                                وترتبط جميع هذه العمليات بأهداف الوزارة المؤسسية والتي ترتبط بدورها بالأهداف الوطنية، للتأكد من فاعلية العمليات ومساهمتها في تحقيق الأهداف المؤسسية. كما يندرج تحت مظلة كل عملية عدد من إجراءات العمل المعيارية، توضح بالتفصيل خطوات الإجراء والجهة المسؤولة
                                عنه، وتشكل هذه الإجراءات بمجملها الأنشطة التي تقوم عليها خطط عمل المديريات والوحدات لتحقيق أهدافها التشغيلية، وتقاس مؤشرات هذه الأنشطة بشكل نصف سنوي، حيث يتم تحليل النتائج والخروج بتوصيات وخطة لتنفيذ التوصيات ضمن تقرير
                                الأداء المؤسسي السنوي.
                            </p>
                            <p>
                                وترتبط جميع هذه العمليات بأهداف الوزارة المؤسسية والتي ترتبط بدورها بالأهداف الوطنية، للتأكد من فاعلية العمليات ومساهمتها في تحقيق الأهداف المؤسسية. كما يندرج تحت مظلة كل عملية عدد من إجراءات العمل المعيارية، توضح بالتفصيل خطوات الإجراء والجهة المسؤولة
                                عنه، وتشكل هذه الإجراءات بمجملها الأنشطة التي تقوم عليها خطط عمل المديريات والوحدات لتحقيق أهدافها التشغيلية، وتقاس مؤشرات هذه الأنشطة بشكل نصف سنوي، حيث يتم تحليل النتائج والخروج بتوصيات وخطة لتنفيذ التوصيات ضمن تقرير
                                الأداء المؤسسي السنوي.
                            </p>
                            <p>
                                وترتبط جميع هذه العمليات بأهداف الوزارة المؤسسية والتي ترتبط بدورها بالأهداف الوطنية، للتأكد من فاعلية العمليات ومساهمتها في تحقيق الأهداف المؤسسية. كما يندرج تحت مظلة كل عملية عدد من إجراءات العمل المعيارية، توضح بالتفصيل خطوات الإجراء والجهة المسؤولة
                                عنه، وتشكل هذه الإجراءات بمجملها الأنشطة التي تقوم عليها خطط عمل المديريات والوحدات لتحقيق أهدافها التشغيلية، وتقاس مؤشرات هذه الأنشطة بشكل نصف سنوي، حيث يتم تحليل النتائج والخروج بتوصيات وخطة لتنفيذ التوصيات ضمن تقرير
                                الأداء المؤسسي السنوي.
                            </p>
                        </div>
                        <div class="highlight">
                            <hr>
                            <h2 style="font-size: 1.7em; font-weight: bold;">
                                جائزة الملك عبدالله الثاني لتميز الأداء الحكومي والشفافية
                            </h2>
                            <p >
                                تعتبر الجائزة أحد نماذج التميز المتبعة عالميا لتحسين الأداء، ومما لا شك فيه بأن تحقيق متطلبات الجائزة في كافة المعايير لا يتأتى إلا من خلال تغيير شامل لبيئة العمل بما يسمح لها أن تواكب آخر المستجدات والمتطلبات، وقد ساهمت الجائزة في غرس ثقافة التميز في
                                جميع نواحي العمل في الوزارة مما ساهم إيجابا في تحسين وتطوير الأداء، كما غيرت من صورة العمل الحكومي التقليدية في المتمثلة ببطء التنفيذ وبيروقراطية الخطوات إلى صورة أكثر إشراقا تتمثل في رفع مستوى وكفاءة الموظف الحكومي وزيادة
                                فعالية العمليات والإجراءات وذلك من خلال إدخال وتبني مفاهيم جديدة في الإدارة مثل التركيز على النتائج والشفافية ومراقبة وتقييم الأداء. تستند الجائزة في هيكلها إلى مفاهيم إدارة الجودة الشاملة ويتطلب تحقيق متطلباتها اعتماد
                                وتطبيق أفضل الممارسات في الإدارة وعلى هذا الأساس تبنت الوزارة ألأنظمة الحديثة في إدارة الموارد البشرية وأنظمة إدارة الجودة وأنظمة الاتصال واستراتيجيات تطوير العنصر التكنولوجي وأنظمة إدارة الإستراتيجية والتخطيط الاستراتيجي.
                                تعتبر الجائزة حافزا للتغيير والتحسين المستمر وقد كان لمشاركة الوزارة في دورتي الجائزة أكبر الأثر في دفع عجلة التحسين والتغيير وتطوير العمل ومأسسة الأداء، كما أن توفر هذا الدافع قد ساعد في تبني عديد من المبادرات الداخلية
                                والإيمان بضرورة تنفيذها ومنها على سبيل المثال لا الحصر أتمتة أنظمة الموارد البشرية وربطها الكترونيا، وتفعيل استخدامات شبكة الانترانت، وتحفيز الموظفين من خلال جائزتي ”انجاز“ ”وموظف الشهر“، ومأسسة العلاقة مع الشركاء والمتعاملين،
                                ونشر المعرفة واكتسابها وغيرها...
                                <span id="paitu"></span>
                            </p>
                            <p  >
                                للاطلاع على صفحة جائزة الملك عبدالله الثاني لتميز الأداء الحكومي والشفافية <a href="#">انقر هنا</a>
                            </p>
                        </div>
                        <div class="highlight">
                            <hr>
                            <h2  style="font-size: 1.7em; font-weight: bold;">
                                مشاريع ومبادرات استخدامات التكنولوجيا المساندة

                            </h2>
                            <p>
                                تحرص الوزارة دوماً على دعم كافة جهودها ومبادراتها الهادفة إلى التحسين المستمر وزيادة الفعالية الإلكترونية وكفاءة العاملين في الوزارة باستخدام التقنيات الحديثة في مجال تكنولوجيا المعلومات، وعلى النحو التالي:
                            </p>

                            <ul>
                                <li>
                                    <p>
                                        الاستمرار في تطوير وتحديث الموقع الإلكتروني للوزارة وكذلك الموقع الخاص بها ضمن بوابة الحكومة الإلكترونية، وموقع وحدة برامج الإنتاجية الاقتصادية والاجتماعية.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        العمل مع لجان برنامج الحكومة الالكترونية / وزارة الاتصالات وتكنولوجيا المعلومات.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        المشاركة في تفعيل نظام إدارة الموارد المالية الحكومية GFMIS في الوزارة ضمن الوزارات الريادية.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        متابعة إدامة وتشغيل نظام إدارة المساعدات الفنية في الأردن JAIMS، والجهاز الخادم الرئيسي الخاص بالنظام.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        متابعة العمل على تحديث شبكة المعلومات الداخلية (الانترانت) وشبكة خدمات الموظفين الذاتية (MenaME).
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        تنفيذ اتفاقيات الحكومة مع شركة Microsoft وشركة Oracle بالتنسيق مع وزارة الاتصالات وتكنولوجيا المعلومات ومركز تكنولوجيا المعلومات الوطني.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        تطوير وتحسين وصيانة الأنظمة المحوسبة العاملة وتشمل نظام المنح والمساعدات الفنية ونظام المستودعات لإدارة وضبط المخزون في مستودع اللوازم والقرطاسية، ونظام القروض، ونظام الدورات والبعثات الخارجية، ونظام الحركة، برنامج متابعة المنحة الخليجية، نظام متابعة
                                        وتقييم مشاريع الجمعيات الخيرية والتعاونية، نظام إدارة الموارد البشرية والرواتب، نظام الدوام، نظام النسخ الاحتياطي، نظام شاشات التحكم التفاعلية.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        الاستمرار في متابعة ضبط ومراقبة مداخل الوزارة طوال اليوم وعلى مدار الأسبوع عن طريق إدامة وصيانة كاميرات المراقبة في مداخل الوزارة ونظام التسجيل المرئي لمراقبة المداخل 24 ساعة x 7 أيام في الأسبوع.&nbsp;
                                    </p>
                                </li>
                                <li>
                                    <p >
                                        وضع استراتيجية لإدارة المعرفة ومتابعة تنفيذها، وتفعيل الوسائل والممارسات المثلى للحصول على المعلومات ومشاركتها للمساهمة في بناء مؤسسة تتعلم من مخزونها المعرفي.
                            <span id="hr"></span>
                                    </p>
                                </li>
                                <li>
                                    <p >
                                        استكمال تطوير أجهزة الحواسيب وملحقاتها وشبكة الحاسوب المحلية وملحقاتها ومتابعة إدامتها.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="highlight">
                            <hr>
                            <h2 style="font-size: 1.7em; font-weight: bold;">
                                تطوير ورفع كفاءة الموارد البشرية في الوزارة للأعوام 2017,2016
                            </h2>
                            <div class="pdimg">
                                <h3>
                                    116موظفاً وموظفة لعام 2016
                                </h3>
                                <a href="2016.png" target="_blank">
                                    <img src="2016.png" alt="2016">
                                </a>
                            </div>
                            <div class="pdimg">
                                <h3>
                                    131موظفاً وموظفة لعام 2017 </h3>
                                <a href="2017.png" target="_blank">
                                    <img src="2017.png" alt="2016">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>    
        {{>fillerRow}}
                </div>
                </section>