<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="/">
                            {{parent}}
                        </a>
                    </h4>
                    <h4>
                        <a href="#">
                            {{page}}                            
                        </a>
                    </h4>
                    <h4>
                        <a href="#" class="currentpage na">
                            {{title}}                            
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row bia" style="justify-content: center;"> ​
                    <div class="col">
                        <a href="strategical-plan.jpg" target="_blank"><img src="strategical-plan.jpg" class="img-fluid big-img" alt="strategical-plan" style="margin: 25px 0px; width: 100%;"></a>
                    </div>
                </div>
                {{>fillerRow}}
            </div>
        </section>