<div class="container">
            <div class="page-title">
                <h3>
                    {{title}}
                </h3>
                <div class="navilinks">
                    <h4>
                        <a href="#">
                            {{!-- الرئيسية --}}
                            {{parent}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#">
                            {{page}}
                            {{!-- عن الوزارة --}}
                        </a>
                    </h4>/
                    <h4>
                        <a href="#" class="currentpage">
                            {{title}}
                            {{!-- نبذة عن الوزارة --}}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
<section style="background-color: #FFF;">
            <div class="container">
                <div class="row bia">
                    <div class="article">
                        <p>
                            تضطلع وزارة التخطيط والتعاون الدولي بدور هام تجاه تحقيق التنمية المستدامة والشاملة في الأردن من خلال العمل مع شركاء الأردن التنمويين من الجهات المانحة ومؤسسات التمويل الدولية، والجهات المحلية الفاعلة كمنظمات المجتمع المدني والقطاع الخاص المحلي.
                        </p>
                        <p>
                            وتقوم الوزارة بدور فعال في تسخير الموارد من المساعدات الأجنبية والمحلية لدعم تنفيذ الأولويات الوطنية، بما يشمل تعزيز المنافع وتحسين في الخدمات العامة التي يمكن الحصول عليها مثل الرعاية الصحية والتعليم والبنية التحتية والخدمات الاجتماعية.
                        </p>
                        <p>
                            وتساهم وزارة التخطيط والتعاون الدولي في الوصول إلى الهدف الذي تسعى الحكومة إلى تحقيقه والمتمثل في اقتصاد تعم فوائده على المواطنين الأردنيين، ويوفر لهم فرص العمل والتشغيل، إذ يعتبر الأردن من البلدان التي تتمتع بثروة بشرية تشكل فئة الشباب فيها حوالي (70%)
                            من السكان. وعلاوة على ذلك، فإن أكثر من (60%) من النساء الأردنيات العاملات يحملن شهادة جامعية أو أعلى. ولذلك تركز المشاريع التنموية التي تتم بالشراكة مع المجتمع الدولي والقطاع الخاص على تحفيز هذه الفئات من خلال إيجاد فرص التشغيل
                            والبيئة الملائمة لتحسين ظروف العمل للمرأة، وتوفير المساندة والدعم للشركات الصغيرة والمتوسطة لتمكينها من بدء وممارسة أعمالها الخاصة. وإيماناً من الوزارة بأهمية إتاحة الفرصة للارتقاء نحو الأفضل وأن هنالك الكثير مما يمكن تعلمه،
                            فيعد بناء القدرات للمواطنين الأردنيين وتمكينهم أولوية في ظل وجود سوق عالمي يتسم بطابع تنافسي معتمد على أصحاب الكفاءات والمواهب؛ وبالتالي فإن جهود وزارة التخطيط والتعاون الدولي تشمل تعزيز الشراكات العلمية والثقافية والتدريبية
                            ذات الجودة العالية.
                        </p>
                        <ul>
                            <li>
                                <p>
                                    المشاركة في رسم السياسة العامة للتنمية الاقتصادية والاجتماعية ووضع الخطط والبرامج اللازمة لتنفيذها.
                                </p>
                            </li>
                            <li>
                                <p>
                                    التعاون والتنسيق مع دائرة الإحصاءات العامة في تحديد أنواع المعلومات الإحصائية الاقتصادية  والاجتماعية والسكانية وغيرىا مما تحتاج إليه الدولة في خطط التنمية وبرامجها المختلفة.

                                </p>
                            </li>
                            <li>
                                <p>
                                    متابعة تحقيق الأهداف والبرامج التنموية الوطنية وأولوياتها من خلال تنمية القطاعات المختلفة.

                                </p>
                            </li>
                            <li>
                                <p>
                                    وضع برامج وآليات لرفع القدرات المؤسسية للوزارات والمؤسسات الحكومية المعنية بتنفيذ البرامج  والمشاريع التنموية على المستويين الوطني والمحلي في المحافظات والبلديات لضمان اتساق الخطط والبرامجالوطنية وتنفيذها حسب الخطط الموضوعة.

                                </p>
                            </li>
                            <li>
                                <p>
                                    المشاركة في تعزيز التنمية المحلية بما يحقق درجة عالية من التوازن التنموي بين المحافظات وحماية الطبقة الوسطى ومحاربة الفقر والبطالة وتحسين مستوى معيشة المواطن.

                                </p>
                            </li>
                            <li>
                                <p>
                                    تحسين السياسات التنموية وتعزيز المشاركة الفاعلة في عملية التنمية الشاملة وتعزيز دور مؤسسات المجتمع المدني  للقيام بمهامها تجاه المجتمع المحلي.

                                </p>
                            </li>
                            <li>
                                <p>
                                    تصميم وتحليل إطار علمي وعملي شامل ومتكامل  لدارسة الواقع التنموي في المحافظات للمساهمة في الحد من الفجوة التنموية وتلبية الاولويات التنموية  التي حددتها المجتمعات المحلية ومواءمتها مع الميزات النسبية والتنافسية والقطاعات الرائدة المولدة لفرص العمل.

                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                {{>fillerRow}}
            </div>
        </section>